<nav class="uk-navbar-container uk-navbar-transparent">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Logo</a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>