<div id="map-container" class="uk-width-1-1">
  <div class="range-slider">
    <span class="range-slider__value">0</span>
    <input
      class="range-slider__range"
      type="range"
      value="2024"
      min="2011"
      max="2024"
    />
  </div>
</div>

<script type="module" src="../static/js/map.js"></script>