<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <base href="/"> 

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@3.23.1/dist/css/uikit.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    {{> navbar}}
    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.23.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.23.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>

    <script type="module" src="../static/js/main.js"></script>
    <script type="module" src="../static/js/slider.js"></script>
</body>
</html>
